a{
	color: black;
	text-decoration: none;
}

.back-close,
.main{
	background-color: #3E556C;
	max-width: 1520px;
    margin: 0 auto;
    padding: 0 90px;
}

.back-close{
	height: 80px;
}

.icons{
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
}

.back-button,
.close-button{
	background-color: #3E556C;
	cursor: pointer;
	max-width: 1520px;
  margin: 0 auto;
}





.title{
	padding: 25px 0;
	color: #FFFFFF;
	font-family: 'Raleway';
}

.title h1{
	font-size: 30px;
}


.content_list{
	display: flex;
	gap: 27px;
	flex-wrap: wrap;
}

.main-image{
	width: 620px;
}

.img_list{
	display: flex;
	gap: 20px;
	align-items: center;
}

.move_icon{
	height: 50px;
	cursor: pointer;
}

.page{
	display: flex;
	justify-content: center;
	margin: 25px 0 21px;
	color: #fff;
	font-family: 'Raleway';
}

.second-class-img{
	margin-bottom: 50px;
}

.second-tier{
	display: flex;
	gap: 25px;
}

.sec_but{
	height: 138px;
	cursor: pointer;
}



.elements-descr{
	width: 450px;
	background-color: #282C40;
}

.elements{
	padding: 22px 0px 41px 40px;
}

.img-name{
	display: flex;
	gap: 10px;
}

.name{
	display: flex;
	align-items: flex-end;
	color: #FFF;
	font-family: 'Inter';
	font-size: 22px;
}

.hidden_button{
	height: 60px;
	width: 370px;
	margin-top: 25px;
}






html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%;
}